.cover {
    border-radius: 9px;
}

/* Styles selected playlist rows using a semi-transparent accent color.
   The playlist inherits from 'navigation-sidebar', which causes the color information to be lost.*/
.playlist > row:selected {
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, transparent);
}

.playlist > row:selected:hover {
    background-color: color-mix(in srgb, var(--accent-bg-color) 40%, transparent);
}