.cover {
    border-radius: 9px;
    border: 1px solid var(--border-color);
    background-color: var(--window-bg-color);    
}

/* Styles selected playlist rows using a semi-transparent accent color.
   The playlist inherits from 'navigation-sidebar', which causes the color information to be lost.*/
/*.playlist > row:selected {*/
/*    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, transparent);*/
/*}*/

/*.playlist > row:selected:hover {*/
/*    background-color: color-mix(in srgb, var(--accent-bg-color) 40%, transparent);*/
/*}*/

.playing {
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, transparent);
}

.foreground {
    color: var(--view-fg-color);
}

.artist-link {
    padding: 2px 4px;
    font-weight: normal;
}
