# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
dist/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
project.assets.json
project.nuget.cache
project.packagespec.json
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json

# JetBrains Rider
.idea/
*.sln.iml
*.sln.DotSettings.user
rider.project.restore.info
rider.project.model.nuget.info

# Flatpak
flatpak/Builddir/
flatpak/repo/*
flatpak/flatpak-dotnet-generator.py
flatpak/*.flatpak
nuget-sources.json
