[submodule "lib/gir.code"]
	path = lib/gir.code
	url = https://github.com/mirthestam/gir.core
[submodule "lib/gircore"]
	path = lib/gircore
	url = https://github.com/gircore/gir.core.git
[submodule "lib/flatpak-builder-tools"]
	path = lib/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools
